#moisture {
    display: block;
    width: 400px;
}
.MuiTable-root {
    .recharts-responsive-container {
        display: block;
        height: 150px !important;
        width: 320px !important;
    }
}
