#header {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: fixed;
    background-color: #1976d2;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding-bottom: 20px;
    h1 {
        width: 100%;
        text-align: center;
        color: #fff;
    }
    button {
        border: 1px solid;
        color: #fff;
    }
}
.css-ndyrf2 {
    width: 900px;
    &.card_avatar {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 200px;
        margin-bottom: 50px;
        .MuiCardContent-root {
            display: flex;
            flex-direction: column;
            align-items: center;
            .MuiAvatar-root {
                margin-bottom: 30px;
            }
        }
    }
}

.MuiBox-root.css-19kzrtu {
    overflow-y: scroll;
    height: 500px;
    table, th, td {
        text-align: center;
    }
}
.recharts-responsive-container {
    width: 700px !important;
    height: 400px !important;
    margin-bottom: 60px;
}
