.listTooltip {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    margin-bottom: 50px;
    row-gap: 30px;
    .tooltips_item {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        .title {
            font-size: 22px;
        }
        .unit {
            font-size: 20px;
        }
        .MuiButton-sizeMedium.MuiButton-textSizeMedium {
            font-size: 2em;
            line-height: 2;
            letter-spacing: 1px;
        }
        .error {
            color: #d74545;
            font-size: 1.2em;
            line-height: 1;
            margin: 0;
            letter-spacing: 0.5px;
        }
        .wrapper {
            display: flex;
            align-items: center;
        }
    }
    .css-ja5taz-MuiTooltip-tooltip {
        background-color: rgba($color: #000000, $alpha: 0.1);

    }
}
.submit {
    display: flex;
    align-items: center;
    button {
        margin-right: 30px;
    }
}