.listTooltip {
    display: flex;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .tooltips_item {
        margin: 0 150px 100px;
        .MuiButton-sizeMedium.MuiButton-textSizeMedium {
            font-size: 1.6em;
            line-height: 2;
            letter-spacing: 1px;
        }
        .error {
            color: #d74545;
            font-size: 1.2em;
            line-height: 1;
            margin: 0;
            letter-spacing: 0.5px;
        }
    }
    .css-ja5taz-MuiTooltip-tooltip {
        background-color: rgba($color: #000000, $alpha: 0.1);

    }
    .MuiInputLabel-formControl {
        text-transform: capitalize;
    }
}